<div class="pt-5 content-center ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div class="card " style="border-radius: 20px;">
          <div class="card-body pt-5 ms-5">

            <form (submit)="changePass()">
              <h1>Change Password...</h1>
              <p>
                <label><i>New Password</i></label><br>
                <mat-form-field style="width: 80%;" appearance="outline">
                  <mat-label>Enter Username ...</mat-label>
                  <input matInput [(ngModel)]="pass"
                    name="password"
                    placeholder="Enter Password">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-hint>* Enter new Password</mat-hint>
                </mat-form-field>
              </p><br>
              <p>
                <label><i>Confirm Password</i></label><br>
                <mat-form-field style="width: 80%;" appearance="outline">
                  <mat-label>Enter Password ...</mat-label>
                  <input matInput [(ngModel)]="pswd.conf"
                    name="password"
                    placeholder="Enter Password">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-hint>Enter Password</mat-hint>
                </mat-form-field>
              </p>

              <button type="submit" mat-raised-button color="primary"
                style="width: 7rem;">Change</button>

            </form>
          </div>
          <p class="small-xl pt-3 text-center">
            <span class="text-muted">Not a member?</span>
            <a [routerLink]="'/signup'">Sign up</a>
          </p>
        </div>
      </div>
    </div>
  </div>
